:root {
    --green: #589063;
    --ablu: aliceblue;
    --white: #ffffff;
    --tan: #fefea2;
    --bygreen: #e5f0ce;
    --ijot: #314c36;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(189, 245, 202, 0.35), rgba(0,0,0,0.35)), url('img/p1.jpg') center/cover no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1; 
}

.hero {
    position: relative;
    min-height: 100vh;

}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--green);
    background-color: aliceblue;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--green);
    color:aliceblue;
}

.mynavbar {
    background-color: rgba(202, 231, 189, 0.1) !important;
    backdrop-filter: blur(4px);
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 3.3rem;
    color: var(--ablu);
    font-weight: bold;

}

.mynavbar .nav-link {
   font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.home {
    background: linear-gradient(rgba(189, 245, 202, 0.35), rgba(0,0,0,0.35)), url('img/pwi3.jpg') center/cover no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-position: center;
    margin-top: -6.5rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
     backdrop-filter: blur(0.5px);
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--ablu);
  font-family: 'Sacramento';
  font-size: 5.5rem;
  font-weight: bold;
  text-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.home h3 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #ffffff;
}

.home .couple {
    margin-top: 100px
}

.home .couple h3 {
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    color: var(--ablu);
}

.home .couple img {
    width: 100%;
    box-shadow: var(--shadow);
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    padding-top: 10rem;
    color: var(--white);
    padding-bottom: 8rem;
    background: linear-gradient(rgba(189, 245, 202, 0.35), rgba(0,0,0,0.35)), url('img/p2.jpg') center/cover no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0.5px);
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(251, 255, 249, 0.1) !important;
    box-shadow: var(--shadow);
    border: none;
    
}

.info .card-header {
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
    letter-spacing: 0,1rem;
    color: var(--tan);
    font-weight: bold;
}

.info .card-body {
    font-size: 1rem;
    font-weight: 300;
    color: white;
}                           

.info .card-footer {
    border-top: 1px solid var(--white);
    font-size: 1rem;
    font-weight: 300;
}


.story, 
.gallery,
.rsvp,
.gifts {
    /* background image with subtle dark overlay to keep text readable */
    position: relative;
    background: linear-gradient(rgba(189, 245, 202, 0.35), rgba(0,0,0,0.35)), url('img/prewdp.jpg') center/cover no-repeat;
    padding-top: 10rem;
    padding-bottom: 8rem;
    color: #fff;
}

.story span,
.gallery span,
.gifts span {
    text-transform: uppercase;
    color: rgba(255,255,255,0.9);
    font-size: 1rem;
    letter-spacing: 1px;
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;

}

.story p,
.gallery p,
.rsvp p,
.gifts p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255,255,255,0.92);
}

.timeline{
    list-style: none;
    padding: 1.4rem 0;
    margin-top: 1rem;
    position: relative;
}

.timeline::before {
    content: '';
    top: 0;
    bottom: 0;
    position: absolute;
    width: 1px;
    background-color: #ccc;
    left: 50%;
}

.timeline li {
    margin-bottom: 1.5rem;
    position: relative;
}

.timeline li::before,
.timeline li::after {
content: '';
display: table;
}

.timeline li::after {
    clear: both;
}

.timeline li .timeline-image {
    width: 160px;
    height: 160px;
    background-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) ;   
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-repeat: no-reapeat;

}

.timeline li .timeline-panel {
    width: 40%;
    float: left;
    border: 1px solid #ccc;
    padding: 2rem;
    position: relative;
    border-radius: 8px;
}

.timeline li .timeline-panel::before {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 15px solid transparent;
  border-left: 15px solid #ccc;
  border-right: 0 solid #ccc;
  border-bottom: 15px solid transparent;
  top: 80px;
  right: -15px;
}

.timeline li .timeline-panel::after {
  content: '';
  position: absolute;
  display: inline-block;
  border-top: 14px solid transparent;
  border-left: 14px solid #fff;
  border-right: 0 solid #fff;
  border-bottom: 14px solid transparent;
  top: 81px;
  right: -13px;
}

.timeline li.timeline-inverted .timeline-panel {
  float: right;
}

.timeline li.timeline-inverted .timeline-panel::before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}

.timeline li.timeline-inverted .timeline-panel::after {
  border-left-width: 0;
  border-right-width: 14px;
  left: -13px;
  right: auto;
}

.gifts {
    background: linear-gradient(rgba(189, 245, 202, 0.25), rgba(0,0,0,0.25)), url('img/pw5.jpg') center/cover no-repeat;

}

.gifts .list-group-item {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}


footer {
  padding: 3rem;
  background-color: var(--ijot);
}

footer a {
  color: var(--bg);
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: white;
}

footer li {
  list-style: none;
  display: inline;
  margin: 0.5rem;
}

.audio-icon-wrapper {
  width: 4rem;
  height: 4rem;
  font-size: 4rem;
  position: fixed;
  bottom: 2.5rem;
  right: 2rem;
  cursor: pointer;
  color: white;
  opacity: 0.5;
  mix-blend-mode: difference;
  animation: rotating 4s linear infinite;
  transform-origin: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 0;
}




/* media query */
/* Extra large */
@media (max-width: 1200px) {
    .home .heart {
       transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown > .simply-section {
        padding: 70px;
    }

     .home .heart {
       display: none;
    }

    .timeline::before {
        left: 60px;
    }

     .timeline li .timeline-image {
    left: 15px;
    margin-left: 45px;
    top: 16px;
  }

  .timeline li .timeline-panel {
    width: calc((100% - 200px));
    float: right;
  }

  .timeline li .timeline-panel::before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
  }

  .timeline li .timeline-panel::after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -13px;
    right: auto;
  }


}

.gallery {
    background: linear-gradient(rgba(189, 245, 202, 0.25), rgba(0,0,0,0.25)), url('img/pwi2.jpg') center/cover no-repeat;
     background-size: cover;
    min-height: 100vh;
    background-position: center;
    margin-top: -6.5rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
     backdrop-filter: blur(0.5px);
}

.rsvp {
    background: linear-gradient(rgba(189, 245, 202, 0.25), rgba(0,0,0,0.25)), url('img/pw6.jpg') center/cover no-repeat;
     background-size: cover;
    min-height: 100vh;
    background-position: center;
    margin-top: -6.5rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
     backdrop-filter: blur(0.5px);
}

.rsvp h2 {
    font-size: 4.5rem;
}

.rsvp p {
    color: white
}

.rsvp form label {
    color: white;
}

.rsvp button {
    background-color: var(--green);
    color: white;
    box-shadow: var(--shadow);
    border: 1px solid var(--green);
}

.rsvp button:hover {
    background-color: var(--white);
    color: var(--green);
    box-shadow: var(--shadow);
    border: 1px solid var(--green);
}

.rsvp .comment {
    background-color: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}

.rsvp .comment .delete-comment {
    opacity: 0.5;
    transition: opacity 0.3s;
}

.rsvp .comment:hover .delete-comment {
    opacity: 1;
}

.rsvp .comment .delete-comment:hover {
    color: azure;
}



/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .simply-countdown > .simply-section {
        padding: 60px;
        margin: 5px;
    }
    .mynavbar .nav-link {
   font-size: 2rem;
    text-align: center;
}

 .sticky-top {
    overflow: hidden;
  }

  .timeline li .timeline-image {
    width: 140px;
    height: 140px;
  }

}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size:50% ;
    }
    .simply-countdown > .simply-section {
        padding: 40px;
        margin: 3px;
    }
     .timeline li .timeline-image {
    width: 80px;
    height: 80px;
    }

    .timeline li .timeline-panel {
        width: 65%;
        transform: translateX(-20px);
    }

    .timeline li .timeline-panel::before {
        top: 30px;
    }

    .timeline li .timeline-panel::after {
        top: 31px;
    }
}

