:root {
    --green: #589063;
    --ablu: aliceblue;
    --white: #ffffff;
    --tan: #fefea2;
    --bygreen: #e5f0ce;
    --ijot: #314c36;
    --shadow: 0 2px 2px rgb(0 0 0 / 0.5);
}

body {
    font-size: 1.2rem;
    font-family: "Work Sans", sans-serif;
    min-height: 4000px;
}

.hero::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(img/pwd1.jpg);
    background-size: cover;
    background-position: center;
    z-index: -1; 

}

.hero {
    position: relative;
    min-height: 100vh;

}

.hero h1, .hero h4, .hero p{
    text-shadow: var(--shadow);
}

.hero h1{
    font-family: 'Sacramento', cursive;
    font-size: 6rem;
}

.hero h4 {
    font-size: 1.6rem;
}

.hero p {
    font-size: 1.4rem;
}

.hero a {
    color: var(--green);
    background-color: aliceblue;
    box-shadow: var(--shadow);
}

.hero a:hover {
    background-color: var(--green);
    color:aliceblue;
}

.mynavbar {
    background-color: rgba(251, 255, 249, 0.1) !important;
}

.mynavbar .offcanvas{
    height: 100vh;
}

.mynavbar .navbar-brand,
.mynavbar .offcanvas-title{
    font-family: 'Sacramento', cursive;
    font-size: 3.2rem;
    color: var(--ablu);
    font-weight: bold;

}

.mynavbar .nav-link {
   font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.home {
    background-image: url(img/ft2.jpg);
    background-size: cover;
    min-height: 125vh;
    background-position: center;
    margin-top: -6.9rem;
    padding-top: 15rem;
    padding-bottom: 5rem;
     backdrop-filter: blur(0.5px);
}

.home h2,
.info h2,
.story h2,
.gallery h2,
.rsvp h2,
.gifts h2 {
  color: var(--bygreen);
  font-family: 'Sacramento';
  font-size: 5.5rem;
  font-weight: bold;
  text-shadow: var(--shadow);
  margin-bottom: 2rem;
}

.home h3 {
  color: #ffffff;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.home p {
  font-size: 1.1rem;
  color: #ffffff;
}

.home .couple {
    margin-top: 100px
}

.home .couple h3 {
    font-family: 'Sacramento', cursive;
    font-size: 2.4rem;
    color: var(--ablu);
}

.home .couple img {
    width: 100%;
    box-shadow: var(--shadow);
}

.home .heart {
  width: 50px;
  height: 50px;
  background-color: white;
  display: flex;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(65px);
}

.home .heart i {
    margin: auto;
    color: var(--pink);
}

.info {
    padding-top: 10rem;
    color: var(--white);
    padding-bottom: 8rem;
    background-image: url(img/prwd5.jpeg);
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(0.5px);
}

.info .alamat {
    font-size: 1.1rem;
}

.info .description {
    font-size: 1rem;
    font-weight: 300;
}

.info .card {
    background-color: rgba(251, 255, 249, 0.1) !important;
    box-shadow: var(--shadow);
    border: none;
    
}

.info .card-header {
    border-bottom: 1px solid var(--white);
    text-transform: uppercase;
    letter-spacing: 0,1rem;
    color: var(--tan);
    font-weight: bold;
}

.info .card-body {
    font-size: 0.9rem;
    font-weight: 300;
    color: white;
}                           

.info .card-footer {
    border-top: 1px solid var(--white);
    font-size: 1rem;
    font-weight: 300;
}

/* media query */
/* Extra large */
@media (max-width: 1200px) {
    .home .heart {
       transform: translateX(-50%) translateY(45px);
    }
}

/* laptop */
@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .simply-countdown > .simply-section {
        padding: 70px;
    }

     .home .heart {
       display: none;
    }
}



/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 60%;
    }

    .simply-countdown > .simply-section {
        padding: 60px;
        margin: 5px;
    }
    .mynavbar .nav-link {
   font-size: 2rem;
    text-align: center;
}
}

/* mobile phone */
@media (max-width: 576px) {
    html {
        font-size:50% ;
    }
    .simply-countdown > .simply-section {
        padding: 45px;
        margin: 3px;
    }
}